* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: 1px solid lightgrey;
  height: 3em;
  font-size: 15px;
  margin: 10px 0;
  padding: 0 30px;
  width: 100%;
  border-radius: 30px;
  outline: none;
}

label {
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.login__left > h5 {
  font-size: 38px;
  
}

.login__graphic {
  width: 300px;
  height: 300px;
}
.login__graphic img {
  width: 100%;
  height: 100%;
}

.login__right {
  border: 1px solid #dadce0;
  border-radius: 7px;
  padding: 30px;
  height: 60%;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 12px 34px -14px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 12px 34px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 12px 34px -14px rgba(0,0,0,0.75);
}

.login__right > form > h5 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.login__right > form > button {
  border: 1px solid #fff;
  color: black;
  padding: 10px;
  background: #3bd09c;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  align-self: center;
  cursor: pointer;
  font-size: 16px;
}

.login__right > form > button:hover {
  background-color: #34b487;
}

.login__right > form > button:active {
  border: 1px solid #2c946f;
  background-color: #34b487;
}

.login__right > form > button:disabled {
  background-color: #b7d7d7;
}

@media (max-width: 768px) {
  .login {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    width: 100%;
  }

  .login__right {
    margin-top: 30%;
  }

  .login__left > h5 {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 600px) {
  .login {
    padding: 20px;
  }
  .login__left > h5 {
    top: 5%;
  }

  .login__right {
    width: 350px;
    margin-top: 45%;
  }

  .login__left > .login__graphic {
    width: 100%;
    height: 275px;
  }
}

.user-form {
  background: #6c63ff;
  padding: 50px;
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
.user-form h1 {
  color: #fff;
  padding: 30px 0;
  font-weight: 700;
}
.user-form i {
  position: absolute;
  color: #6c63ff;
  margin: 25px 10px;
}

.safety {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 5px;
}
.line {
  height: 6px;
  border-radius: 20px;
  width: 20%;
  background: #fff;
  margin: 5px;
}
span:nth-child(2) {
  background-color: #fffc00;
}
span:nth-child(3) {
  background-color: #fffc00;
}
.action-btn {
  width: 100%;
  display: flex;
  margin: 30px 0;
}
.btn {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  background: transparent;
  border-radius: 20px;
  width: 50%;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}
.primary {
  border: none;
  background: linear-gradient(
    45deg,
    rgba(222, 197, 5, 1) 24%,
    rgba(255, 107, 0, 1) 100%
  );
}

@media (max-width: 665px) {
  .photo {
    display: none;
  }
  .user-form {
    width: 100%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 990px) and (min-width: 665px) {
  .action-btn {
    margin: 5px;
    display: block;
    width: 100%;
  }
  .btn {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
}
